In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("global_alcohol_consumption.csv")
df

,Country,Continent,Year,Beverage,Consumption_Liters_Per_Capita,Alcohol_Strength,Avg_Price_Per_Liter
0,Germany,Europe,2015,Spirits,4.69,High Alcohol,11.48
1,Russia,Europe,2018,Wine,30.10,Medium Alcohol,7.69
2,Germany,Europe,2023,Beer,13.17,Low Alcohol,2.22
3,Australia,Oceania,2021,Beer,9.13,Low Alcohol,2.78
4,USA,North America,2016,Wine,1.70,Medium Alcohol,5.81
...,...,...,...,...,...,...,...
495,Japan,Asia,2017,Cocktails,4.36,Medium Alcohol,6.88
496,India,Asia,2020,Beer,8.76,Low Alcohol,2.89
497,China,Asia,2016,Wine,0.81,Medium Alcohol,5.99
498,China,Asia,2024,Cider,36.65,Low Alcohol,3.52
499,South Africa,Africa,2016,Cider,42.84,Low Alcohol,2.78

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        500 non-null    object
 1   Continent                      500 non-null    object
 2   Year                           500 non-null    int64
 3   Beverage                       500 non-null    object
 4   Consumption_Liters_Per_Capita  500 non-null    float64
 5   Alcohol_Strength               500 non-null    object
 6   Avg_Price_Per_Liter            500 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 27.5+ KB

In [4]:
df["Beverage"].value_counts()

Beverage
Cocktails    114
Cider        102
Beer         101
Spirits      100
Wine          83
Name: count, dtype: int64

In [9]:
df[df["Alcohol_Strength"] == "High Alcohol"]["Beverage"].value_counts()

Beverage
Spirits    100
Name: count, dtype: int64